[package]
name = "bno055"
description = "Bosch Sensortec BNO055 9-axis IMU driver"
version = "0.1.5"
authors = ["Eugene P. <eupn@protonmail.com>"]
repository = "https://github.com/eupn/bno055"
edition = "2018"
categories = [
    "embedded",
    "hardware-support",
    "no-std",
]
keywords = [
    "embedded-hal-driver",
    "bno055",
]
license-file = "LICENSE"
readme = "README.md"

[dependencies]
byteorder = { version = "1", default-features = false }
nalgebra = { version = "0.17.0", default-features = false }
bitflags = "1"

[dependencies.embedded-hal]
version = "0.2.2"
features = ["unproven"]
